@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html, body{
    background:#f8f8fa;
    margin:0;
    padding:0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Poppins', sans-serif;
    letter-spacing: .3px;
    font-weight: 400;
    font-size: 12px;
    color:#333;
  }

  h1{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }

  h2{
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #a7adbd;
    display: block;
    margin-bottom: 50px;
  }


  .content{
    padding: 30px;
    padding-top: 90px;
    padding-left: 230px;
  }

  .content-manage{
    padding: 30px;
    margin-left:200px;
  }

  .content-manage .search-bar, .content-manage .search-bar input{
    width:100%
  }

  .content-manage .dataTables_filter, .content-manage .dataTables_filter label, .content-manage .dataTables_filter label input{
    width:100%;
  }

  .content-manage .DataTable_Container{
    margin-top:0 !important;
  }

  .content-manage .btn-success{
    float: right;
    font-size: 14px;
    padding: 7px 20px;
  }

  .content-manage .btn-warning{
    margin-right:5px;
  }

  .content-manage .modal{
    background:rgba(0,0,0,0.3);
  }

  .filter{
    width:100%;
    background:#1f2940;
    padding: 20px 0;
  }

  .books-per-month canvas{
    height:500px !important;
  }
  
  .books-per-month, .genresPercent, .books-per-country, .book, .ratings, .readed{
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px #eee;
    box-shadow: 0px 1px 1px 1px #eee;
    margin-bottom: 20px;
  }

  .book .book-icon{
    font-size: 60px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    color: #808080;
  }

  .book_rating{
    margin-top: 5px;
  }

  .book_rating i{
    font-family: "Font Awesome 5 Free";
    color: #ffbe0e;
  }

  .book .book_pages{
    font-size: 18px;
    font-weight: 600;
  }

  .book .book_title_author{
    font-size: 16px;
    color: #808080;
  }

  .sidebar{
    background: #343d50;
    z-index:1;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-top: 10px;
  }

  /* .sidebar .menu-item{
    text-align: center;
    padding: 15px 0;
  }

  .sidebar .menu-item i{
    font-size: 25px;
    color: #727794;
  }

  .sidebar .menu-item.selected i{
    color:#fff;
  }

  .sidebar svg{
    color:#ffffff;
  }

  .sidebar ul {
    padding: 0;
    margin:0;
  }
  
  .sidebar ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
  
  .sidebar ul li a {
    color: #a9b7d0;
    text-decoration: none;
    padding: 12px 15px;
    display:block;
    width:100%;
    border-radius: 10px;
  }
  
  .sidebar ul li a.active {
    color: #ffffff;
    background: rgba(0,0,0,0.3) !important;
  }
  
  .sidebar ul li a.active i {
    color: #8066ee;
  }
  
  .sidebar i {
    color: #a9b7d0;
    font-size: 13px;
    width: 10px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    margin-right: 12px;
  } */

  .sidebar h3{
    color: rgba(255,255,255,0.3);
    font-size:12px;
    padding-bottom:5px;
}

.sidebar ul{
    padding:0;
    margin:0;
    margin-top:10px;
}

.sidebar ul li{
    color:rgba(255,255,255,0.5);
    list-style-type: none;
    font-weight: 300;
    cursor: pointer;
    font-size: 12px;
    padding: 15px 25px;
}

.sidebar ul .active li{
    background:rgba(0,0,0,0.3);
}

.sidebar ul li i{
    margin-right:5px;
    color: rgba(255,255,255,0.5);
    width:15px;
}

.sidebar ul a{
    text-decoration: none;
}

.sidebar ul .active li {
  color: #ffffff;
  background: rgba(0,0,0,0.3) !important;
}

.sidebar ul .active li i {
  color: #48a5a9;
}

.sidebar .bottom-menu{
  position: absolute;
  bottom: 0;
  width:100%;
  border-top: solid 1px rgba(255,255,255,0.2);
}

  .books-stats{
    margin:20px 0;
  }

  .books-icon{
    background:#000;
    padding: 50px;
  }

  .books-stats .stat-block, .stat-block{
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 1px 1px #eee;
    box-shadow: 0px 1px 1px 1px #eee;
    padding: 15px 5px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .chooseYear{
    padding: 10px;
    color:#333;
  }

  .chooseYear span{
    display: inline-block;
    color:#333;
  }

  .chooseYear i{
    color: #333;
    font-size:13px;
    margin-right: 10px;
  }

  .chooseYear select{
    font-size:13px;
    background: none;
    color:#333;
    border: solid 1px #eee;
    padding: 5px;
  }

  .chooseYear select:focus-visible{
    border:none !important;
    outline: none !important;
  }
  /* .books-stats .col-md-2:nth-child(2) i{
    background: #f1fcf8;
    color: #58c8d6;
  }
  .books-stats .col-md-2:nth-child(3) i{
    background: #fff5f6;
    color: #fe4c62;
  }
  .books-stats .col-md-2:nth-child(4) i{
    background: #f2f9ff;
    color: #49b8fd;
  }
  .books-stats .col-md-2:nth-child(5) i{
    background: #fffaee;
    color: #ffbe0e;
  }
  .books-stats .col-md-2:nth-child(6) i{
    background: #f8f5fc;
    color: #8066ee;
  } */

  .stat-block i{
    font-weight: 900;
    font-size: 22px;
    border-radius: 50%;
    padding: 11px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    background: #343d50;
    color:#ffffff;
    float:left;
    margin-left:15px;
    /* box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3); */
  }

  .col-md-4:nth-child(2) .stat-block i{
    background:#01a9ac;
  }

  .col-md-4:nth-child(3) .stat-block i{
    background:#ffbe0e;
  }

  .books-stats .stat-block .stats-number, .stats-number{
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    color: #333;
  }

  .books-stats .stat-block .stats-label, .stats-label{
    color: #a7adbd;
    font-weight: 400;
    font-size: 12px;
    display: block;
  }

  .yearselector{
    display: inline-block;
    width: auto;
    background: #ffffff;
    border: none;
    color: #101010;
    font-weight: 600;
  }

  .container-fluid{
    margin-bottom:20px !important;
  }

  .table{
    border-bottom: none !important;
    margin-bottom: 0;
  }

  .table td{
    color: #101010;
    border-bottom:none !important;
    padding: 10px 20px !important;
    font-size: 13px;
    font-weight: 300;
  }

  .table td img{
    margin-right:5px;
    width:20px;
  }

  .showHead thead{
    display: table-header-group !important;
  }

  #DataTable thead{
    display:none;
  }

  .challenge .stats-number, .challenge .stats-label{
    display: inline-block;
  }

  .challenge .stats-number{
    font-size:14px;
  }

  span.block_name{
    color: #333;
    font-weight: 500;
    border-bottom: solid 1px #f5f6fa;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    font-size: 13px;
  }

  .stat-block .progress{
    background: #f8f8fa;
    height: 50px;
    border: solid 2px #efefef;
    padding: 5px;
    border-radius: 0;
    margin: 0 15px 15px 15px;
    position: relative;
    overflow: visible;
  }

  .stat-block .progress-bar{
    background-color: #404e67;
    position: relative;
    overflow: visible;
    border-right: solid 2px #333;
  }

  .progress-bar{
    background-color: #404e67;
    position: relative;
    overflow: visible;
  }

  .stat-block .progress-bar-number{
    position: absolute;
    right: 0;
    background: #333;
    border-radius: 50%;
    padding: 10px;
    top: -20px;
    right: -20px;
    letter-spacing: .3px;
  }

  .loading-screen-overlay{
    background: #f8f8fa;
    width:100%;
    height:100vh;
    position: fixed;
    z-index: 1;
    top:0;
  }

  .loading-screen{
    width: 100%;
    position: fixed;
    background: #f8f8fa;
    z-index: 1;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search-bar input {
    border: 1px solid #ced4da !important;
    padding: 7px 15px !important;
    margin-right: 5px !important;
    background: #ffffff;
    border-radius: 7px;
    font-size: 13px;
    width: 400px;
  }

  .search-bar, .filters{
    display:inline-block;
  }

  .filters select{
    border: 1px solid #ced4da !important;
    padding: 7px 15px !important;
    margin-right: 5px !important;
    background: #ffffff;
    border-radius: 7px;
    font-size: 15px;
  }

  .loginbg{
    background: #363a53;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .loginbg form{
    background: #fff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,.07);
    margin: auto;
    right: 0;
    font-size: 14px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }

  .loginbg .form-group{
    margin-bottom: 15px;
  }

  .loginbg button{
    font-size: 14px;
    background: #363a53;
    border: none;
  }

  .flag-icon{
    margin-right: 5px !important;
  }

  /* Login screen */

  .login_overlay{
    background: #eee;
    position: absolute;
    width:100%;
    height:100%;
  }

  .login{
    width:350px;
    min-height:300px;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    
}

.login form{
  background:#ffffff;
  box-shadow: 1px 1px 1px rgba(0,0,0,.05);
  padding: 30px;
}

.login img{
  display: block;
  width: 200px;
  margin:auto;
  margin-bottom:30px;
}

  .login .login_logo{
    width: 120px;
    margin: auto;
    margin-top: -65px;
    background: #ffffff;
    border-radius: 50%;
}

.login .login_logo img{
    width:100%;
}

.login form input{
    background:#f9f9f9;
    border:none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size:13px;
}

.login form .icon{
    position: absolute;
    right: 44px;
    margin-top: 7px;
}

.login form .icon i{
    color:#aaa;
    font-size:13px;
}

.login form button{
    background:#364c67;
    width:100%;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
}

.login form button:hover{
    background:#122235;
}

.topbar{
  background: #ffffff;
  width: 100%;
  min-height: 50px;
  position: absolute;
  box-shadow: 0px 1px 1px 1px #eee;
  padding-left:230px;
}

.stats{
  margin-bottom:20px;
}

.ratingstable thead{
  display:none;
}

.ratingstable td{
  height: 35px;
  padding: 0 10px 0 0px;
}