html, body{
    background:#f8f8fa;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .3px;
    font-weight: 400;
    color:#333;
  }

  h1{
    /* font-size: 30px;
    font-weight: 500;
    padding: 0 10px 0px 10px;
    margin-bottom: 5px; */
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 0 10px;
    width: 100%;
  }

  h2{
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #a7adbd;
    display: block;
    margin-bottom: 50px;
  }


  .content{
    padding: 30px;
  }

  .content-manage{
    padding: 30px;
    margin-left:200px;
  }

  .content-manage .search-bar, .content-manage .search-bar input{
    width:100%
  }

  .content-manage .dataTables_filter, .content-manage .dataTables_filter label, .content-manage .dataTables_filter label input{
    width:100%;
  }

  .content-manage .DataTable_Container{
    margin-top:0 !important;
  }

  .content-manage .btn-success{
    float: right;
    font-size: 14px;
    padding: 7px 20px;
  }

  .content-manage .btn-warning{
    margin-right:5px;
  }

  .content-manage .modal{
    background:rgba(0,0,0,0.3);
  }

  .filter{
    width:100%;
    background:#1f2940;
    padding: 20px 0;
  }

  .books-per-month{
    height:700px;
  }

  .books-per-month canvas{
    height:600px !important;
  }
  
  .books-per-month, .genresPercent, .books-per-country, .book, .ratings, .readed{
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    margin-bottom: 20px;
  }

  .book .book-icon{
    font-size: 60px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    color: #808080;
  }

  .book_rating{
    margin-top: 5px;
  }

  .book_rating i{
    font-family: "Font Awesome 5 Free";
    color: #ffbe0e;
  }

  .book .book_pages{
    font-size: 18px;
    font-weight: 600;
  }

  .book .book_title_author{
    font-size: 16px;
    color: #808080;
  }

  .sidebar-manage{
    padding: 15px 10px;
    background: #363a53;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-top: 10px;
  }

  .sidebar-manage .menu-item{
    text-align: center;
    padding: 15px 0;
  }

  .sidebar-manage .menu-item i{
    font-size: 25px;
    color: #727794;
  }

  .sidebar-manage .menu-item.selected i{
    color:#fff;
  }

  .sidebar-manage svg{
    color:#ffffff;
  }

  .sidebar-manage ul {
    padding: 0;
    margin:0;
  }
  
  .sidebar-manage ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
  
  .sidebar-manage ul li a {
    color: #a9b7d0;
    text-decoration: none;
    padding: 12px 15px;
    display:block;
    width:100%;
    border-radius: 10px;
  }
  
  .sidebar-manage ul li a.active {
    color: #ffffff;
    background: rgba(0,0,0,0.3) !important;
  }
  
  .sidebar-manage ul li a.active i {
    color: #8066ee;
  }
  
  .sidebar-manage i {
    color: #a9b7d0;
    font-size: 13px;
    width: 10px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    margin-right: 12px;
  }

  /* -------------------------------- */

  .sidebar{
    background: #363a53;
    width: 100%;
    padding: 15px 10px;
  }

  .sidebar .menu-item{
    text-align: center;
    padding: 15px 0;
  }

  .sidebar .menu-item i{
    font-size: 25px;
    color: #727794;
  }

  .sidebar .menu-item.selected i{
    color:#fff;
  }

  .sidebar svg{
    color:#ffffff;
  }

  .sidebar ul {
    padding: 0;
    margin:0;
  }
  
  .sidebar ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
  }
  
  .sidebar ul li a {
    color: #a9b7d0;
    text-decoration: none;
    padding: 12px 15px;
    display:block;
    width:100%;
    border-radius: 10px;
  }
  
  .sidebar ul li a.active {
    color: #ffffff;
    background: rgba(0,0,0,0.3) !important;
  }
  
  .sidebar ul li a.active i {
    color: #8066ee;
  }
  
  .sidebar i {
    color: #a9b7d0;
    font-size: 13px;
    width: 10px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    margin-right: 12px;
  }

  .books-stats{
    margin:20px 0;
  }

  .books-icon{
    background:#000;
    padding: 50px;
  }

  .books-stats .stat-block, .stat-block{
    background: #ffffff;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    padding: 15px 5px;
    color: #333;
    text-align: center;
  }

  .chooseYear{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #404e67;
    padding: 10px;
    text-align: center;
  }

  .chooseYear i{
    color: #a9b7d0;
  }

  .chooseYear select{
    font-size:16px;
    background: none;
    color:#ffffff;
  }

  .chooseYear select:focus-visible{
    border:none !important;
    outline: none !important;
  }
  /* .books-stats .col-md-2:nth-child(2) i{
    background: #f1fcf8;
    color: #58c8d6;
  }
  .books-stats .col-md-2:nth-child(3) i{
    background: #fff5f6;
    color: #fe4c62;
  }
  .books-stats .col-md-2:nth-child(4) i{
    background: #f2f9ff;
    color: #49b8fd;
  }
  .books-stats .col-md-2:nth-child(5) i{
    background: #fffaee;
    color: #ffbe0e;
  }
  .books-stats .col-md-2:nth-child(6) i{
    background: #f8f5fc;
    color: #8066ee;
  } */

  .books-stats .stat-block i{
    font-weight: 900;
    font-size: 22px;
    border-radius: 50%;
    padding: 11px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    background: #696ffc;
    /* box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3); */
  }

  .books-stats .stat-block .stats-number, .stats-number{
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: #333;
  }

  .books-stats .stat-block .stats-label, .stats-label{
    color: #a7adbd;
    font-weight: 400;
    font-size: 16px;
  }

  .yearselector{
    display: inline-block;
    width: auto;
    background: #ffffff;
    border: none;
    color: #101010;
    font-weight: 600;
  }

  .container-fluid{
    margin-bottom:20px !important;
  }

  .table{
    border-bottom: none !important;
  }

  .table td{
    color: #101010;
    border-bottom:none !important;
    padding: 10px 10px !important;
  }

  .table td img{
    margin-right:5px;
    width:20px;
  }

  .showHead thead{
    display: table-header-group !important;
  }

  #DataTable thead{
    display:none;
  }

  

  span.block_name{
    color: #333;
    font-weight: 400;
    border-bottom: solid 1px #f5f6fa;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    letter-spacing: .3px;
  }

  .stat-block .progress{
    background: #f8f8fa;
    height: 50px;
    border: solid 2px #efefef;
    padding: 5px;
    border-radius: 0;
    margin: 0 15px 15px 15px;
    position: relative;
    overflow: visible;
  }

  .stat-block .progress-bar{
    background-color: #404e67;
    position: relative;
    overflow: visible;
    border-right: solid 2px #333;
  }

  .progress-bar{
    background-color: #404e67;
    position: relative;
    overflow: visible;
  }

  .stat-block .progress-bar-number{
    position: absolute;
    right: 0;
    background: #333;
    border-radius: 50%;
    padding: 10px;
    top: -20px;
    right: -20px;
    letter-spacing: .3px;
  }

  .loading-screen-overlay{
    background: #f8f8fa;
    width:100%;
    height:100vh;
    position: fixed;
    z-index: 1;
    top:0;
  }

  .loading-screen{
    width: 100%;
    position: fixed;
    background: #f8f8fa;
    z-index: 1;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search-bar input {
    border: 1px solid #ced4da !important;
    padding: 7px 15px !important;
    margin-right: 5px !important;
    background: #ffffff;
    border-radius: 7px;
    font-size: 13px;
    width: 400px;
  }

  .search-bar, .filters{
    display:inline-block;
  }

  .filters select{
    border: 1px solid #ced4da !important;
    padding: 7px 15px !important;
    margin-right: 5px !important;
    background: #ffffff;
    border-radius: 7px;
    font-size: 15px;
  }

  .loginbg{
    background: #363a53;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .loginbg form{
    background: #fff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,.07);
    margin: auto;
    right: 0;
    font-size: 14px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }

  .loginbg .form-group{
    margin-bottom: 15px;
  }

  .loginbg button{
    font-size: 14px;
    background: #363a53;
    border: none;
  }