.dataTable-top td{
    vertical-align: top;
}

.dataTable-top td{
    padding-top:15px !important;
}

#DataTable td {
    color: #333;
    font-size: 13px;
    height: 40px;
    font-weight: 300;
    vertical-align: middle;
    letter-spacing: 0px;
}

.DataTable_Container {
    margin: 0 !important;
    margin-top:10px !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    border-radius: 10px;
    padding: 30px;
    background: #fff;
}

#DataTable{
    margin-bottom:0 !important;
}

#DataTable a {
    color: #000;
    text-decoration: none;
}

.content-manage #DataTable .fa-star {
    color: #ffbe0e;
}

.content-manage #DataTable i {
    color: #ffffff;
}

.content-manage #DataTable button{
    text-align: center;
    border-radius: 100%;
}

.content-manage #DataTable button i{
    margin:auto;
    font-size: 12px;
}

#DataTable i.fa-star {
    color: #ffbe0e;
    margin-right:10px;
}

#DataTable thead th{
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;
    font-weight: 600;
    font-size: 14px;
    color:#000000;
}

#DataTable tr{
    background:#ffffff;
}

#DataTable tr:first-child td{
    border-top:none;
}

#DataTable td{
    padding:14px;
}

#DataTable tbody td:first-child{
    padding: 0rem;
}


#DataTable td{
    padding:10px;
    color: #000000;
    height: 0px;
    vertical-align: middle;
    border-top: none;
    border-bottom: solid 1px #f8f8f8 !important;
}

.DataTable_Container {
    margin: 0px 2.5rem 0px 2.5rem;
}

.DataTable_Container thead{
    display:none;
}


.DataTable_Container table{
    margin-bottom:0;
}

.DataTable_Container h2 {
    float: left;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
    width: 100%;
    border-bottom: solid 1px #e7eaed;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.DataTable_Container .table tbody td:first-child{
    padding: 0rem;
}

.DataTable_Container .dataTables_length{
    padding: 20px 0;
}

.DataTable_Container .dataTables_length select{
    border: 1px solid #ced4da !important;
    padding: 5px 5px !important;
    margin-right: 5px !important;
    background:#ffffff;
}

.DataTable_Container .dataTables_filter{
    padding: 20px 0;
}

.DataTable_Container .dataTables_filter input{
    border: 1px solid #ced4da !important;
    padding: 5px 5px !important;
    margin-right: 5px !important;
    background:#ffffff;
}

.DataTable_Container table.dataTable.no-footer {
    border-bottom: none;
}

.DataTable_Container .dataTables_info{
    padding: 20px 0;
    font-size: 14px;
}

.DataTable_Container .dataTables_paginate{
    padding: 20px 0;
}

.DataTable_Container .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    background-color: #404e67 !important;
    border-color: #404e67 !important;
    color: #fff !important;
}

.DataTable_Container .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    background-color: #404e67 !important;
    color: #000 !important;
}

.dataTables_wrapper .dataTables_paginate{
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 14px;
}

.showHead thead{
    display: table-header-group;
}

.badge-info{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    padding: 5px 15px;
}

.dotgenre{
    display: inline-block; 
    vertical-align: top; 
    margin-top: 5px;
    margin-right: 10px;
    width: 10px; 
    height: 10px; 
    border-radius: 100%; 
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px -1px, rgba(0, 0, 0, 0.14) 3px 3px 5px -1px, rgba(0, 0, 0, 0.12) 3px 3px 5px -1px;
}

.btn-danger{
    border-radius: 100% !important;
    background: red;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px -1px, rgba(0, 0, 0, 0.14) 3px 3px 5px -1px, rgba(0, 0, 0, 0.12) 3px 3px 5px -1px;
}